<%- include('partials/header') %>


<section class="py-lg-16 py-10 cover_element " style="background: url(/resources/back_main.jpeg) no-repeat; background-position: center; background-size: cover">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-3 fw-normal ">Clinical - Flex</h1>
        <p class="lead">Your one stop shop for all your health needs.<%= user.name %></p>
      </div>
    </div>
    <br>
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-7">
        <div class="card border-0 shadow">
          <div class="card-body p-6">
            <div class="mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin text-danger">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                <circle cx="12" cy="10" r="3"></circle>
              </svg>
              <h1 class="mt-3 mb-0 h4">Find your meds quick</h1>
              <small>See delivery and collection options</small>
            </div>
            <form action="/myFunction" method="POST">
              <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" id="search_bar" name="drug_Name" placeholder="Enter Drug Name" maxlength="20" >
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary" id="search_button">Check</button>
                </div>
              </div>
            </form>            
          </div>
        </div>
        <div class="mt-3">
          <small class="text-white">
            Hello, Sign in for the best experience. New to Freshcart?
            <a href="#" class="text-white">Register</a>
          </small>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>

<!-- Next section for shop by categories-->

<!-- Slider start-->

<section class="slidinger  container rounded position-relative overflow-hidden p-4 p-sm-5">
  <div class="slidinger container">
      <div class="slidinger main-slider">
        <div class="slidinger row justify-content-between">
          <div class="slidinger col-auto">
            <h2>What's on your mind?</h2>
          </div>
          <div class="slidinger col-auto">
            <div class="slidinger label-container">
              <button class="slidinger arrow-left"><i class="slidinger bi bi-arrow-left"></i></button>
              <button class="slidinger arrow-right"><i class="slidinger bi bi-arrow-right"></i></button>
            </div>
          </div>
        </div>
          <p class="lead">Find products with best deals and offers.</p>
          <div class="slidinger card-slider-main">
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029856/PC_Creative%20refresh/3D_bau/banners_new/Pizza.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029860/PC_Creative%20refresh/3D_bau/banners_new/Samosas.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1675667625/PC_Creative%20refresh/Biryani_2.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029858/PC_Creative%20refresh/3D_bau/banners_new/Shakes.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029845/PC_Creative%20refresh/3D_bau/banners_new/Cakes.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029858/PC_Creative%20refresh/3D_bau/banners_new/Rolls.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029845/PC_Creative%20refresh/3D_bau/banners_new/Burger.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029860/PC_Creative%20refresh/3D_bau/banners_new/Sandwich.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029859/PC_Creative%20refresh/3D_bau/banners_new/Shawarma.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029854/PC_Creative%20refresh/3D_bau/banners_new/Pav_Bhaji.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029858/PC_Creative%20refresh/3D_bau/banners_new/Pure_Veg.png" alt="">
              </div>
              <div class="slidinger card-wrapper">
                  <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_288,h_360/v1674029848/PC_Creative%20refresh/3D_bau/banners_new/Chinese.png" alt="">
              </div>
          </div>
      </div>
  </div>
  </section>

<!-- Slider end-->

<!-- Next section for shop by categories-->

<section class="py-lg-16 py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="fw-normal">Shop by category</h2>
        <p class="lead">Find the best products from our wide range of categories.</p>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 shadow">
          <img src="https://4kwallpapers.com/images/walls/thumbs_3t/12471.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Devices</h5>
            <p class="card-text">Essential medical devices like oximeters, thermometers, inhalers, blood pressure monitors, and glucometers.</p>
            <a href="#" class="btn btn-primary">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 shadow">
          <img src="https://4kwallpapers.com/images/walls/thumbs_3t/12564.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nutrition and Fitness Supplements</h5>
            <p class="card-text">Health supplements such as health drinks, nutritional powders, and nutrition..</p>
            <a href="#" class="btn btn-primary">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 shadow">
          <img src="https://4kwallpapers.com/images/walls/thumbs_3t/12471.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ayurvedic Care</h5>
            <p class="card-text">Ayurvedic products for holistic well-being, like aloe vera juice, moringa capsules, and garlic capsules.</p>
            <a href="#" class="btn btn-primary">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 shadow">
          <img src="https://4kwallpapers.com/images/walls/thumbs_3t/12564.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Personal Care</h5>
            <p>These are everyday essentials you need, like disinfectant sprays, phenyl, and dishwashing liquids.</p>
            <a href="#" class="btn btn-primary">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- next section for featured items-->

 <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Revolutionizing Healthcare - <span class="text-body-secondary">Your Pharmacy at Your Fingertips</span></h2>
        <p class="lead">Discover a new era of healthcare with our online pharmacy store. We bring the pharmacy to your doorstep, offering a wide range of medicines, health products, and much more. Experience the convenience of 24/7 access to healthcare!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Online Pharmacy</title><image href="/resources/medicine_cart_1_2.jpg" x="0" y="0" height = "500px" width="500px"/></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Beyond Medicines - <span class="text-body-secondary">A Holistic Approach to Your Well-being</span></h2>
        <p class="lead">Our online pharmacy store is not just about medicines. We believe in a holistic approach to health. Explore our range of wellness products, health supplements, and personalized health consultations. Your journey to wellness starts here!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Trusted Doctors</title><image href="/resources/doctor_asian_female_2_2.jpg" x="0" y="0" height = "500px" width="500px"/></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Trust and Care - <span class="text-body-secondary">Your Health is Our Priority</span></h2>
        <p class="lead">We understand the importance of trust when it comes to healthcare. Our online pharmacy store is committed to providing reliable, high-quality products and services. With us, you can rest assured that your health is in good hands.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Online Pharmacy</title><image href="/resources/scientist_lab3.jpg" x="0" y="0" height = "500px" width="500px"/></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <div class="container developer">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    
  </div>

<!--   
  <script>
    document.getElementById('search_button').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the form from submitting
      var drugName = document.getElementById('search_bar').value; // Get the value of the input field
      if (drugName.trim() === '') { // Check if the input field is empty
        alert('Please enter a drug name.'); // Show an alert
      } 
      else {
        //myFunction(drugName)  // Pass the value to your EJS function
        fetch('/myFunction', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ drug_Name: drugName })
        });
      }
    });
  
    function myFunction(drugName) {
      // Your EJS code here
      console.log( drugName +" This the script function."); // For example, log the drug name to the console
    }

  </script> -->
  

  <!-- newsletter start -->

  <%- include('partials/footer') %>